<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>A Skeleton Site</title>

  <script src="/jquery/jquery.min.js"></script>

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/css/jumbotron-narrow.css">
</head>
<body>

  <main class="container" g-partial="body">
    <!--
      Goji, our template engine, is going to replace everything in the
      `main` elemenent with the partial referenced by the "body" property
      in the redering context.
     -->
    <p>Body content</p>
  </main>

</body>
</html>